<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <form th:action="@{/books/editBook}" method="put">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="edit-book-id">
                    <div class="form-group">
                        <label for="edit-book-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="edit-book-name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="edit-book-genre" class="col-form-label">Жанр:</label>
                        <select name="genre" class="custom-select" id="edit-book-genre">
                            <option th:each="genre: ${T(by.ilyushenko.library.models.Genre).values()}"
                                    th:value="${genre}"
                                    th:text="${genre.getRusName()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="edit-book-author" class="col-form-label">Автор:</label>
                        <select name="author" class="custom-select" id="edit-book-author">
                            <option th:each="author: ${authors}"
                                    th:value="${author.id}"
                                    th:text="${author.getFio()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="edit-book-countSheets" class="col-form-label">Count of sheets:</label>
                        <input type="number" class="form-control" id="edit-book-countSheets"
                               name="countOfSheets">
                    </div>
                    <div class="form-group">
                        <label for="edit-book-count" class="col-form-label">Count:</label>
                        <input type="number" class="form-control" id="edit-book-count" name="count">
                    </div>
                    <div class="form-group">
                        <label for="edit-book-year" class="col-form-label">DateOfIssue:</label>
                        <input type="number" placeholder="YYYY" min="1800" max="2100" class="form-control"
                               id="edit-book-year" name="dateOfIssue">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{close}">Close</button>
                        <button type="submit" class="btn btn-primary" th:text="#{save}">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>