<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal" tabindex="-1" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены что хотите удалить данную запись?</p>
            </div>
            <div class="modal-footer">
                <a href="" id="delRef" type="button" class="btn btn-primary" th:text="#{yes.delete}">Yes, Delete</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{close}">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>