<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="btn-toolbar justify-content-between" role="toolbar">
    <div class="btn-group mb-3 mt-3" role="group">
        <a th:href="@{references/books/addBook}" class="btn btn-success" id="addBtn">
            Добавить
        </a>
    </div>
    <div class="input-group mb-3 w-50 ms-auto">
        <input type="text" id="search_table" class="form-control" aria-label="Search" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" onclick="searchOnTable()">Поиск</button>
    </div>
</div>
</html>