<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/header" th:remove="tag"></div>
<body>
<header>
    <div class="nav-container" style="width: 100%">
        <div th:insert="fragments/nav-tabs" th:remove="tag"></div>
    </div>
    <br>
</header>
<body>
<mean>
    <h1>О библиотеке</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis cumque error laudantium pariatur
        repudiandae soluta suscipit tempora veritatis voluptatem? Aliquid, commodi cumque minima odit praesentium
        quibusdam rem sequi veritatis. Alias maxime molestias natus ratione. Accusantium aliquam architecto asperiores
        aut blanditiis commodi corporis cumque distinctio doloremque, earum expedita fugiat incidunt ipsum magnam
        maiores minus molestias non nostrum, porro quam ratione rerum voluptatum. A ad, dolorem doloremque, facere
        facilis harum maiores molestias non nostrum odit optio pariatur quae quidem, quod quos reiciendis rem sapiente
        similique unde ut. Aliquam corporis fuga fugiat iure magnam minima quam quos sunt totam vel. Alias aperiam
        assumenda dignissimos dolore doloribus earum eligendi esse expedita, id ipsa iure laboriosam molestias officia
        optio perferendis perspiciatis praesentium quae quam quasi qui reprehenderit saepe sapiente sed, sunt tempora
        temporibus vitae. Accusamus architecto at sequi. At corporis cupiditate debitis eligendi itaque odit quibusdam
        quis. Ad architecto aspernatur at autem commodi cum delectus dolor doloremque eaque eos esse iure qui quis quod
        ratione repudiandae, voluptatum? A laudantium minima vitae? Accusamus assumenda consectetur culpa distinctio
        dolor incidunt necessitatibus officiis qui quo sequi. Ab atque consequuntur culpa doloremque ducimus eaque enim
        facere fugit inventore ipsa iure laudantium neque, non, praesentium quaerat quasi, similique sint!</p>
</mean>
</body>
</html>